* {
  margin: 0px;
  box-sizing: border-box;
  font-weight: 200;
  //text-align: center;
  font-family: 'Open Sans',Arial,Helvetica Neue,sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  //background-color: #F0F0F0;
  //margin: 5px;
}


body {
  //text-align: center;
  color: #404348;
}

h1, h2, h3, h4, p, small {
  margin: 10px 10px 5px 10px;
}

p, small {
  margin: 10px 10px 5px 10px;
}

.header {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.hero {
  height: 67%;
  width: 100%;
  background: #303030;
  /* fallback for old browsers */
  //background: -webkit-linear-gradient(right, #303030, #d3d3d3);
  //background: linear-gradient(to left, #303030, #d3d3d3);
}

#about {
  padding: 0% 10% 2% 10%;
}

.col-sm-4 {
  margin: 20px 20px 0 0;
}

.col-sm-4 img {
  //float: left;
  padding: 10px;
  min-width: 200px;
  min-height: 200px;
  max-width: 300px;
  max-height: 300px;
  user-select: none;
}

.col-sm-8 {
  display:grid;
  text-align: left;
}


#project-headings tr th {
  text-align: center;
}



.vba-quotes {
  background: #ddd;
  padding: 20px 0 40px 0;
  width: 100%;
  //position:relative;
  clear: both;
}

#list1 li {
  text-align: left;
  font-size: 0.8em;
}

.vba {
  text-align: left;
}

.left-karo {
  text-align: left;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 67%;
  margin: 0 0 0 0;
  background-color: black;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#intro {
  color: rgb(156, 156, 156);
  z-index: 999;
  background: none;
  position: relative;
  padding: 15px 5px 5px 5px;
  user-select: none;
}

#intro h1 {
  font-size: 2.5em;
}

#work { padding: 30px 20px 30px; color: #9c9c9c; background: #363636; }
#work h1 {font-size: 2em; margin: 0 0 35px; text-align: left; }
#work h3 {font-size: 1.2em; margin-top: 40px; text-align: left; }
#work h4 {font-size: 0.7em; margin-top: 0; margin-bottom: 10px; text-align: left; }
.work1 ul li {font-size: 0.9em; text-align: left; }


.clearfix {
  padding: 5px;
  background-color: white;
}

#skills { float: left; width: 100%; padding: 30px 20px 30px; color: #9c9c9c; background: #363646; display: block;}
#skills h1 {font-size: 2em; margin: 0 0 35px; text-align: left; }
#skills h2 {font-size: 1.5em; margin: 0 0 25px; text-align: left; }
#skills h3 {font-size: 1.2em; margin-top: 40px; text-align: left; }
#skills h4 {font-size: 0.7em; margin-top: 0; margin-bottom: 10px; text-align: left; }

#bar1 div, #bar2 div { margin: 7px 0; }

#bar1 { float: left; width: 70%; font-size: 0.9em; font-weight: 400; text-transform: uppercase; letter-spacing: 2px; text-align: left; margin-bottom: 15px; color: #727272; }
#bar2 { float: right; width: 30%; font-size: 0.9em; font-weight: 400; text-transform: uppercase; letter-spacing: 2px; text-align: left; margin-bottom: 15px; color: #727272; }
